.icon-container {
  text-align:center;
  margin-left:7px;
  width:262.5px;
  /*border-bottom:5px solid;
  border-color:#000;*/
}

.about-icon {
  margin-bottom:15px;
  margin-left:10px;
  /*color:#fa6d5f;*/
  color:#000;
}

.about-icon:hover {
  color:#696969;
}
