
.failed-validation {
  color: red;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.sitename {
  font-size: 29px !important;
  display: flex;
  align-items: center;
  height: 60px;
  color: white;
}

#code {
  color: #ffa25e;
  font-weight: 600 !important;
}

.sitename:hover {
  color: white;
  text-decoration: none;
}

.nav-label {
  font-weight: 400;
  font-size: 20px;
}

.nav-label:hover {
  cursor: pointer !important;
  background-color: #00aa9a !important;
}

.nav-label.active {
  background-color: #00aa9a !important;
}

.icon-container {
  text-align:center;
  margin-left:3px;
  width:262.5px;
}

.team { 
  margin: 0 auto !important;
}

.about-icon {
  color:#000;
  margin: 2px;
}

.about-icon:hover {
  color:#696969;
}

.about-names {
  font-size: 22px;
  margin-bottom: 10px;
  text-align:center;
}

.about-minititle {
  text-align:center;
}

.about-img {
  text-align:center;
  width:175px;
  height:175px;
  border-radius:50%;
}

.about-bio {
  font-size:13.5px;
  height:90px;
  margin-top:30px;
  margin-bottom: 20px;
  text-align:center;
}

.img-container {
  text-align:center;
}

#landingVideo {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 400px;
}

.landing-btn{
  margin: 10px;
}

.landing-content {
  margin-bottom: 60px;
}

.tagline {
  margin-top: 3%;
}

.border-gray {
  border: 1px solid #222;
}

.progress-bar {
  height: 2em;
  width: 100%;
  background-color: #E0E0E0;
  vertical-align: middle;
}

.progress-fill {
  height: 100%;
  text-align: left;
}

.progress-bar-name {
  font-size: 1.3em;
  color: #181818;
  margin-left: 10px;
  font-weight: bold;
}

.no-height {
  height: 0;
}

#start-btn {
  z-index: 10;
}

#codingGif {
  height: 400px;
  width: 800px;
  margin: 0 auto;
}

#menu1{
  color: white;
  background-color: #009688; 
}

#level-select {
  height: 20px;
  z-index: 5;
}

.no-padding {
  padding: 0;
}

.no-top-margin {
  margin-top: 0;
}
