/** {
  font-family: Helvetica;
}*/

.failed-validation {
  color: red;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.sitename {
  /*font-family: 'Ropa Sans', sans-serif !important;*/
  font-size: 29px !important;
  /*text-shadow: 1px 1px 1px white;*/
  display: flex;
  align-items: center;
  height: 60px;
  /*font-size: 1.5em;*/
  color: white;
}

#code {
  color: #f1c40f;
  font-weight: 600 !important;
}

.sitename:hover {
  /*text-shadow: 2px 2px 2px white;*/
  color: white;
  text-decoration: none;
}

.nav-label {
  font-weight: 400;
  font-size: 20px;
}

.nav-label:hover {
  cursor: pointer !important;
  background-color: #00aa9a !important;
}

.nav-label.active {
  background-color: #00aa9a !important;
}

/*009688*/

.icon-container {
  text-align:center;
  margin-left:3px;
  width:262.5px;
  /*border-bottom:5px solid;
  border-color:#000;*/
}

.about-icon {
  /*color:#fa6d5f;*/
  color:#000;
}

.about-icon:hover {
  color:#696969;
}

.about-title {
  font-weight:bold;
  text-align:center;
}

.about-names {
  /*font-size: 22px;
  text-align:center;*/
  font-size: 22px;
  margin-bottom: 10px;
  text-align:center;
}

.about-minititle {
  text-align:center;
}

.about-img {
  text-align:center;
  width:175px;
  height:175px;
  border-radius:50%;
}

.about-bio {
  font-size:13.5px;
  /*width:230px;*/
  height:90px;
  margin-top:30px;
  text-align:center;
  /*text-align:justify;*/
}

.img-container {
  text-align:center;
}

#landingVideo {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 400px;
  /*border: 1px solid #222;*/
}

.landing-btn{
  margin: 10px;
}

.tagline {
  /*margin-top: 10%;*/
}

.border-gray {
  border: 1px solid #222;
}

.landing-info-container {
  /*margin-top: 50px;*/
}

.progress-bar {
  height: 1.8em;
  width: 100%;
  background-color: #E0E0E0;
  vertical-align: middle;
}

.progress-fill {
  height: 100%;
  text-align: left;
}

.progress-fill-single {
  height: 100%;
  background-color: green;
}

.no-height {
  height: 0;
}

#start-btn {
  z-index: 10;
}

#codingGif {
  height: 400px;
  width: 800px;
  margin: 0 auto;
}

#menu1{
  color: white;
  background-color: #009688; 
}

#level-select {
  height: 20px;
  z-index: 5;
}

.no-padding {
  padding: 0;
}

.no-top-margin {
  margin-top: 0;
}
